.colchoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: auto;
  background-color: #fff; /* adicionei um fundo branco para diferenciar do cabeçalho */
  padding: 20px; /* adicionei um padding para separar do cabeçalho */
}

.lista-colchoes {
  position: relative;
  flex-basis: calc(33.33% - 10px);
  margin: 5px;
  align-items: center; /* centraliza a imagem e os botões */
}

.imagem-colchao {
  width: 100%;
  max-width: 600px; /* define uma largura máxima para a imagem */
  height: auto;
  margin: 5px;
}

.botoes-descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* adiciona um espaço entre a imagem e os botões */
}

.botoes-descricao button {
  margin-bottom: 10px;
  font-size: 14px;
  padding: 1em 1.5em; /* exemplo de uso da unidade 'em' */
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 00;
  max-width: 150px;
  max-height: auto;
  cursor: pointer;  
}

.imagem-descricao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: auto;
  border: solid 1px black;
  z-index: 1;
}

.button-descricao {
  position: fixed;
  top: 9%;
  left: 78%;
  padding: 4px 6px;
  z-index: 2;
  border: none;
  background-color: rgb(186, 185, 185);
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.button-descricao:hover{
  transform: scale(1.2);
}

.botoes-descricao:hover{
  transform: scale(1.1);
}

