<section class="colchoes">
    <div class="lista-colchoes" *ngFor="let colchao of colchoes">
      <img id="imagem-colchao" [src]="colchao.imagem" alt="Colchão {{ colchao.id }}" class="media-object img-responsive img-thumbnail imagem-colchao">
      <div class="botoes-descricao">
        <button (click)="toggleDescricao(colchao)">
            {{ colchao.abrirDescricao ? 'Fechar' : 'Descrição ' + colchao.nome }}
          </button>
      </div>
      <img [hidden]="!colchao.abrirDescricao" [src]="colchao.descricao" class="imagem-descricao">
      <button [hidden]="!colchao.abrirDescricao" class="button-descricao" (click)="toggleDescricao(colchao)"> {{ colchao.abrirDescricao ? 'X' : 'Descrição ' }}</button>
    </div>
  </section>

  <script>
   document.getElementById('corpo').addEventListener('click', function() {
  var imagensDescricao = document.querySelectorAll('.imagem-descricao');
  imagensDescricao.forEach(function(imagemDescricao) {
    imagemDescricao.style.display = 'none';
  });
});
  </script>